@if (!noteLoaded() || token === null) {
  <LoadingScreen />
}

<div ngClass="page_scrollable_header_breadcrumb_footer">
  @if (noteLoaded() && token !== null) {
    <div ngClass="view_container" id="view_container">
      <ViewNote
      [visible]="!isView()"
      [splitScreen]="isSplitScreen()"
      [viewText]="viewText()"
      [updatedViewText]="updatedViewTextHandler"
      />
    <EditNote
    [visible]="isView()"
    [splitScreen]="isSplitScreen()"
    [loadedText]="loadedText()"
    [updateViewText]="updatedViewTextHandler"
    [passUpdatedViewText]="updateEditTextProp()"
    />
</div>
}
</div>
<Footer>
@if (noteLoaded() && viewText().length > 0 && !isCreate() && isChanged()) {
  <button
    mat-button
    color="secondary"
    aria-label="Save Note button"
    ngClass="contained medium breadcrumb_edit_fab button_fab"
    (click)="saveNoteCallback()"
    >
    <span ngClass="icon_text">
      <span ngClass="material-symbols-outlined button_icon white">
        add_circle
      </span>
      Save Note
    </span>
  </button>
}

@if (noteLoaded() && viewText().length > 0 && isCreate()) {
  <button
    mat-button
    color="secondary"
    aria-label="Create Note button"
    ngClass="contained medium breadcrumb_edit_fab button_fab"
    (click)="createNotePost()"
    >
    <span ngClass="icon_text">
      <span ngClass="material-symbols-outlined button_icon white">
        add_circle
      </span>
      Create Note
    </span>
  </button>
}

@if (noteLoaded() && viewText().length === 0 && isCreate()) {
  <button
    mat-button
    color="secondary"
    aria-label="Example Note button"
    ngClass="contained medium breadcrumb_edit_fab button_fab example_button"
    (click)="exampleNote()"
    >
    <span ngClass="icon_text">
      <span ngClass="material-symbols-outlined button_icon white"> egg </span>
      Example
    </span>
  </button>
}

@if (noteLoaded() && !isSplitScreen()) {
  <button
    mat-button
    color="secondary"
    aria-label="Toggle View button"
    ngClass="contained medium breadcrumb_edit_fab button_fab"
    (click)="toggleEditHandlerCallback()"
    >
    @if (isView()) {
      <span ngClass="icon_text">
        <span ngClass="material-symbols-outlined button_icon white">
          visibility
        </span>
        View
      </span>
    }
    @if (!isView()) {
      <span ngClass="icon_text">
        <span ngClass="material-symbols-outlined button_icon white">
          edit
        </span>
        Edit
      </span>
    }
  </button>
}

@if (noteLoaded() && !isMobile()) {
  <button
    mat-button
    color="secondary"
    aria-label="Toggle Split Screen button"
    ngClass="contained medium breadcrumb_edit_fab button_fab split_screen_button"
    (click)="toggleSplitHandlerCallback()"
    >
    @if (isSplitScreen()) {
      <span className="split_screen_icon">
        <img
          src="/assets/images/split_screen_icon_single.png"
          alt="split screen icon"
          width="30"
          height="30"
          /> </span
          >
      }
      @if (!isSplitScreen()) {
        <span className="split_screen_icon">
          <img
            src="/assets/images/split_screen_icon_double.png"
            alt="split screen icon"
            width="30"
            height="30"
            /> </span
            >
        }
      </button>
    }
  </Footer>
