<li ngClass="notebooks_list_bg">
  <mat-card>
    <mat-card-content ngClass="cardcontent">
      <div ngClass="notebooks_list_outer">
        <div
          ngClass="notebooks_list_left {{
            !notebookLoaded$() ? '' : 'tab_' + notebook_item$()!.notebook_cover
          }}"
          >
          @if (!notebookLoaded$()) {
            <div>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
                [theme]="{ height: '50px' }"
              ></ngx-skeleton-loader>
            </div>
          }
        </div>
        <div ngClass="notebooks_list_right">
          @if (!notebookLoaded$()) {
            <div>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
              [theme]="{
                height: '20px',
                'margin-bottom': '0px',
                'margin-top': '20px'
              }"
              ></ngx-skeleton-loader>
              <ngx-skeleton-loader
                count="1"
                appearance="line"
                [theme]="{ height: '10px' }"
              ></ngx-skeleton-loader>
            </div>
          }
          @if (notebookLoaded$()) {
            <div>{{ notebook_item$()!.notebook_name }}</div>
            <div ngClass="date_format">
              <div>
                {{ dateFormat(notebook_item$()!.updatedAt!) }}
              </div>
            </div>
          }
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</li>
