<div
  id="view"
  ngClass="view {{ splitScreen ? 'view_split show' : '' }} editnote_box {{
    visible ? 'show' : 'hide'
  }} "
  >
  <mat-card>
    <mat-card-content ngClass="cardcontent">
      <article
        id="viewnote_id"
        ngClass="viewnote_content viewer viewnote_content"
        >
        @if (!isLoaded()) {
          <ngx-skeleton-loader
            count="1"
            appearance="line"
          ></ngx-skeleton-loader>
        }
        @if (isLoaded()) {
          <ViewNoteMarkdown
          [splitScreen]="splitScreen"
          [viewText]="contextView()"
          [updatedViewText]="updateViewText"
          [disableLinks]="false"
          />
      }
    </article>
  </mat-card-content>
</mat-card>
</div>
