@if (pageLayout() !== 'other') {
  <div>
    <div>
      <div
        role="presentation"
        class="breadcrumb_container"
        [class.breadcrumb--notebooks]="pageLayout() === 'notebooks'"
        [class.breadcrumb--section]="pageLayout() === 'notebooks' || pageLayout() === 'profile'"
      >
        <div ngClass="breadcrumbs_inner">
          <!-- PROFILE -->
          @if (notebookLoaded() && pageLayout() === 'profile') {
            <div>
              <NotebooksLink />
            </div>
          }
          @if (notebookLoaded() && pageLayout() === 'profile') {
            <div>
              <span [ngClass]="'breadcrumb_link'">
                <span [ngClass]="'breadcrumb_link_icon'">
                  <span [ngClass]="'breadcrumb_seperator'">›</span>
                </span>
                Profile
              </span>
            </div>
          }
          <!-- NOTEBOOKS  -->
          @if (notebookLoaded() && pageLayout() === 'notebook') {
            <div>
              <NotebooksLink />
            </div>
          }
          <!-- NOTEBOOKS / NOTEBOOK  -->
          @if (notebookLoaded() && pageLayout() === 'notebooks') {
            <div>
              <NotebooksNolink />
            </div>
          }
          @if (
            notebookLoaded() &&
            pageLayout() === 'notebook' &&
            notebook() &&
            notebook().name
            ) {
            <div>
              <span class="breadcrumb_link">
                <span class="breadcrumb_link_icon">
                  <span class="breadcrumb_seperator">›</span>
                </span>
                <span class="breadcrumb_link">{{ notebook().name }}</span>
              </span>
            </div>
          }
          <!-- NOTEEBOOKS / NOTEBOOK / NOTE  -->
          @if (notebookLoaded() && pageLayout() === 'note') {
            <div>
              <NotebooksLink />
            </div>
          }
          @if (notebookLoaded() && notebook().name && pageLayout() === 'note') {
            <div
              >
              <a [routerLink]="['/notebook', notebook().id]" [ngClass]="'breadcrumb_link'">
                <span [ngClass]="'breadcrumb_link_icon'">
                  <span [ngClass]="'breadcrumb_seperator'">›</span>
                </span>
                <span [ngClass]="'breadcrumb_link_btn'">{{ notebook().name }}</span>
              </a>
            </div>
          }
          <!-- NOTE  -->
          @if (notebookLoaded() && notebook().name && pageLayout() === 'note') {
            <div>
              <span [ngClass]="'breadcrumb_link'">
                <span [ngClass]="'breadcrumb_link_icon'">
                  <span [ngClass]="'breadcrumb_seperator'">›</span>
                </span>
                Note
              </span>
            </div>
          }
          <!-- EDIT NOTEBOOK BUTTON  -->
          @if (notebookLoaded() && pageLayout() === 'notebook') {
            <div>
              <div [ngClass]="'breadcrumb_edit_btn'">
                <button
                  type="button"
                  aria-label="Edit notebook"
                  class="breadcrumb_edit_fab material-icons edit_icon edit_icon_small"
                  (click)="editNotebook()"
                >
                  edit
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
