.codebox pre {
  box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
}

.codebox_language p {
  padding-left: 5px;
}

.image {
  display: inline-block;
  vertical-align: top;
}

.image img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

:host .test_imagex {
  display: inline-block;
  vertical-align: top;
}

// Read-only styling for checkboxes when update callback is not provided
.md-readonly .task-list input[type="checkbox"] {
  pointer-events: none;
  cursor: default;
}
