@if (!isLoaded()) {
  <div><LoadingScreen /></div>
}
@if (userNotebooks()) {
  <div>
    <ul ngClass="notebooks_list">
      @for (notebook of userNotebooks(); track trackByuserNotebooks($index, notebook)) {
        <NotebookListItem [notebook_item]="notebook" />
      }
    </ul>
  </div>
}
<Footer>
@if (userNotebooks()) {
  <button
    mat-button
    color="secondary"
    aria-label="Add notebook button"
    ngClass="contained medium breadcrumb_edit_fab button_fab"
    (click)="addNotebookFormHandler()"
    >
    <span ngClass="icon_text">
      <span ngClass="material-symbols-outlined button_icon white">
        add_circle
      </span>
      Add Notebook
    </span>
  </button>
}
</Footer>
