<div *ngIf="!isLoaded()"><LoadingScreen /></div>
<div *ngIf="userNotebooks()">
  <ul ngClass="notebooks_list">
    <ng-container
      *ngFor="let notebook of userNotebooks(); trackBy: trackByuserNotebooks"
    >
      <NotebookListItem [notebook_item]="notebook" />
    </ng-container>
  </ul>
</div>
<Footer>
  <ng-container *ngIf="userNotebooks()">
    <button
      mat-button
      color="secondary"
      aria-label="Add notebook button"
      ngClass="contained medium breadcrumb_edit_fab button_fab"
      (click)="addNotebookFormHandler()"
    >
      <span ngClass="icon_text">
        <span ngClass="material-symbols-outlined button_icon white">
          add_circle
        </span>
        Add Notebook
      </span>
    </button>
  </ng-container>
</Footer>
