@if (!success) {
  <LoadingScreen />
}
@if (success && !token) {
  Unauthorized
}
@if (success && token && details) {
  <section class="profile">
    <div class="profile_outer">
      {{ (details.username || "").charAt(0).toUpperCase() }}
    </div>
    <div class="profile_name">{{ details.username }}</div>
    <div class="profile_email">{{ details.email }}</div>
    <ProfileForm
      [userName]="details.username"
      [onChangePassword]="changePasswordHandler"
      [onChangeUsername]="changeUsernameHandler"
    />
  </section>
}
