<div class="nav_menu">
  <div class="dropdown">
    <button
      class="icon profile-trigger"
      [class.is-active]="open()"
      (click)="toggleMenu()"
      (keydown)="onTriggerKeydown($event)"
      aria-haspopup="true"
      [attr.aria-expanded]="open()"
      type="button"
    >
      @if (rippleKey() > 0) {
        <span class="ripple-burst"></span>
      }
      <span class="material-icons-outlined menu_item">person</span>
    </button>

    @if (open()) {
      <div
        class="dropdown-menu"
        role="menu"
        [@slideMenu]
      >
        @if (success) {
          <button class="dropdown-item" (click)="handleProfile($event)" role="menuitem">
            <span class="material-icons-outlined menu_item">person</span>
            Profile
          </button>
        }
        @if (!success) {
          <button class="dropdown-item" (click)="loginHandler($event)" role="menuitem">
            <span class="material-icons menu_item">login</span>
            Sign in
          </button>
        }
        @if (success) {
          <button class="dropdown-item" (click)="onLogout()" role="menuitem">
            <span class="material-icons menu_item danger_icon">logout</span>
            Sign out
          </button>
        }
      </div>
    }
  </div>
</div>
