.button_row {
  width: 100%;
}

.form {
  width: 100%;
  margin: 1rem auto;
}

.control {
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}

.control input {
  display: block;
  font: inherit;
  max-width: 100%;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #38015c;
  padding: 0.25rem;
  background-color: #f7f0fa;
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dialogue_container {
  max-width: 300px;
}

@media only screen and (max-width: 380px) {
  .control {
    gap: 5px;
  }

  .control input {
    font-size: 0.7rem !important;
    padding-top: unset;
    padding-bottom: unset;
  }
}
