<div
  class="sheet-overlay"
  role="button"
  tabindex="0"
  aria-label="Close dialog"
  (click)="cancelHandler($event)"
  (keydown)="onOverlayKeydown($event)"
>
  <div
    class="bottom-sheet"
    role="dialog"
    aria-modal="true"
    aria-labelledby="move-notebook-title"
    tabindex="-1"
    (click)="$event.stopPropagation()"
    (keydown)="onSheetKeydown($event)"
    #sheetRef
  >
    <div class="sheet-handle"></div>

    <h2 id="move-notebook-title" class="sheet-title">Move to Notebook</h2>

    <form id="move-notebook-form" (ngSubmit)="submitHandler($event)">
      <div class="sheet-field">
        <span class="form-label" id="notebook-options-label">Notebook</span>
        <div
          class="notebook-options"
          role="listbox"
          tabindex="-1"
          aria-labelledby="notebook-options-label"
          (keydown)="handleOptionsKeydown($event)"
        >
          @for (nb of notebooksFiltered(); track nb._id) {
            <button
              type="button"
              class="notebook-option"
              [class.selected]="selectedNotebook() === nb._id"
              [id]="'option-' + nb._id"
              role="option"
              [attr.aria-selected]="selectedNotebook() === nb._id"
              (click)="selectNotebook(nb._id)"
            >
              <span
                class="option-cover"
                [ngClass]="'option-cover-' + getDisplayCover(nb.notebook_cover)"
              >
                <span
                  class="nb-spine"
                  [ngClass]="'nb-spine-' + getDisplayCover(nb.notebook_cover)"
                ></span>
              </span>
              <span class="option-name">{{ nb.notebook_name }}</span>
            </button>
          }
        </div>
      </div>
    </form>

    <div class="sheet-actions">
      <button
        type="button"
        class="btn-cancel"
        (click)="cancelHandler($event)"
        aria-label="Cancel button"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn-move"
        [disabled]="!formIsValid()"
        aria-label="Move Note button"
        (click)="submitHandler($event)"
      >
        Move Note
      </button>
    </div>
  </div>
</div>
