<div class="header" id="header_height">
  <div class="header_container">
    <div class="logo_container">
      <div class="logo_mark">
        <img
          src="assets/images/edit_white.png"
          alt="Notes logo"
          width="18"
          height="18"
        />
      </div>
      <div class="logo_text">Notes</div>
    </div>
    <div class="header_toolbar">
      @if (editNotesService.showPill()) {
        <span class="edit-pill">{{ editNotesService.selectedCount() }} selected</span>
      }
      <MenuDropdown />
    </div>
  </div>
</div>
<Breadcrumb />
