// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$notes-angular-private-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$notes-angular-private-accent: mat.m2-define-palette(
  mat.$m2-pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$notes-angular-private-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$notes-angular-private-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $notes-angular-private-primary,
      accent: $notes-angular-private-accent,
      warn: $notes-angular-private-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($notes-angular-private-theme);

/* You can add global styles to this file, and also import other style files */

@import url("./styles/global.scss");

@import url("./styles/prism-atom-dark.scss");

$color-primary: #4d0000;
$color-secondary: #b30000;
$color-special: #eaef96;
$color-success: #ecf7ed;

// COLOR

.mat-secondary {
  background-color: $color-secondary !important;
  color: #fff !important;
}

.mat-secondary[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: unset;
}

// CARD

.mat-mdc-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px !important;
}

// BUTTON

// Basic

.basic {
  color: $color-secondary !important;
}

.mat-mdc-button.basic:hover {
  background-color: rgba(255, 0, 0, 0.04);
}

// Contained

.mat-mdc-button.contained {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.mat-mdc-button.contained:hover {
  text-decoration: none;
  background-color: rgb(125, 0, 0) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.mat-mdc-button.contained[disabled][disabled] {
  --mdc-text-button-disabled-label-text-color: rgba(0, 0, 0, 0.38);
  --mdc-text-button-label-text-color: rgba(0, 0, 0, 0.38);
}

// Sizes large medium small

// Large

.large {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  padding: 8px 11px !important;
  border-radius: 4px;
}

.mat-mdc-button.mat-mdc-button-base.large {
  padding: 20px !important;
}

// Medium

.medium {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  padding: 8px 18px !important;
  border-radius: 4px;
}

.mat-mdc-button.mat-mdc-button-base.medium {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 0.875rem;
}

// Transition
.mat-mdc-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

// .material-icons { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined {
  color: rgba(0, 0, 0, 0.54);
}

.mat-mdc-menu-item .mat-icon-no-color,
.mat-mdc-menu-item .mat-mdc-menu-submenu-icon {
  color: rgb(125, 125, 125) !important;
}

.white {
  color: #fff;
}

.button_icon {
  margin-right: 8px;
}

button.mdc-button.button_fab {
  border-radius: 25px;
}

.icon_text {
  display: flex;
  align-items: center;
}

mat-dialog-container {
  max-height: calc(100% - 64px) !important;
  max-width: 600px !important;
}

.dialogue-title {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: 1.25rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.0075em !important;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: unset !important;
}

notebooklistitem {
  width: 100%;
}

.md_anchorlink {
  color: #428bca !important;
  cursor: pointer;
}

.md_anchorlink:hover {
  text-decoration: underline;
}
